.name{
    font-size: xx-large;
    font-weight: bold;
    
}
label{
    color: slategray;
    padding: 5px;
    font-variant: small-caps;    
}

.name, .phone, .website, .address{
    color: rgba(5, 46, 167, 0.87);
}